.size-xs {
  width: 12px;
  height: 12px;
}

.size-sm {
  width: 14px;
  height: 14px;
}

.size-md {
  width: 16px;
  height: 16px;
}

.size-lg {
  width: 20px;
  height: 20px;
}

.size-xl {
  width: 24px;
  height: 24px;
}

.size-2xl {
  width: 32px;
  height: 32px;
}