* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, html {
    @apply font-sans;
}

h1, h2, h3, h4, h5, h6, p, span, a, b, strong, i, em, mark, small, del, ins, sub, sup {
    word-break: break-word;
}

ol, ul {
    list-style: none;
}

input, textarea, button {
    outline: none
}

input, button, textarea, select {
    font: inherit;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}